node_modules
.history
.env
.vscode
Backend/Routes/payment.Routes.js
Backend/socket/socketManager.js
Backend/passport.js
Frontend/src/pages/VideoMeet.jsx
Frontend/src/pages/VideoComponent.jsx
Frontend/src/pages/Payment.jsx