.chat-bubble {
    background-color: #0b93f6;
    color: white;
    padding: 8px 15px;
    font-size:16px;
    max-width: 450px;
    border-radius: 10px;
    word-wrap: break-word;
    position: relative;
    margin: 10px;
  }
  
  /* Bubble tail on the right side */
  /* .chat-bubble::after {
    content: "";
    position: absolute;
    right:  100px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #0b93f6;
    border-bottom-left-radius: 35px;
    transform: rotate(45deg);
  }
   */