.TalkyTalk {
  font-family: "WDXL Lubrifont TC", sans-serif;
}

body{
  overflow: hidden;
}

.chats {
  transition: background-color 0.2s ease, transform 0.2s ease-out;
}

.chats:hover {
  background-color: #0069925e;
  transform: scale(1.08);
}

/* chat Window  */
.popupOptions {
  transition: background-color 0.3s ease-in;
}

.popupOptions:hover {
  background-color: #141414;
  cursor: pointer;
}
