.bgImg {
  background-image: url("../pic//banner-bg.png");
}

.circle-loader span {
  animation: jump 0.6s infinite ease-in-out;
}

.circle-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.circle-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.key{
  transition: transform 0.2s ease-out;
  border-radius: 5px ;
  transform: scale(0.9);
  box-shadow: #760242 5px 4px 0 5px ;
}
.key:hover{
  box-shadow:  #760242 5px 4px 0 5px;
}
.otp{
  transition: transform 0.2s ease-out;
  border-radius: 5px ;
  transform: scale(0.9);
  box-shadow: #082a72 5px 4px 0 5px ;
}


