.welcome {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.talkytalk {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.heart-beat {
  animation: beat 1s infinite;
  transform-origin: center;
  display: inline-block;
}
